html {
    min-width: 1000px;
    background: #f4f8ff;
    font-family: 'PT Sans', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}