.billboard {
    background: url(../images/billboard.png) no-repeat;
    width: 543px;
    height: 412px;
    position: relative;
}

    .billboard__slider {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 533px;
        height: 266px;
    }
        .billboard__slider__item {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }

        .billboard__slider__item:first-child {
            display: block;
        }



    .billboard__dots {
        background: url(../images/billboard_dots.png);
        width: 533px;
        height: 266px;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .billboard__header {
        background: #111922;
        background: rgba(17,25,34,.8);
        width: 533px;
        height: 89px;
        position: absolute;
        top: 5px;
        left: 5px;
    }

        .billboard__header__logo {
            position: absolute;
            top: 8px;
            left: 101px;
        }