.body {

}
    .body__sidebar {
        display: inline-block;
        vertical-align: top;
        width: 327px;
        margin: 0 20px 0 0;
    }

    .body__content {
        display: inline-block;
        vertical-align: top;
        width: 603px;
    }