.content {
    font-size: 14px;
    line-height: 16px;
    color: #424850;
}
    .content__header {

    }

    .content__body {
        margin: 23px 0 0;
    }

        .content__body__text {
            margin-top: 32px;
        }

        .content__body__feature {
            margin-top: 34px;
        }

        .content__body__product {
            margin-top: 43px;
        }

        .content__body__production {

        }

        .content__body__video {
            margin-top: 44px;
        }

        .content__body__table {
            margin-top: 30px;
        }

            .content__body__table__title {

            }

            .content__body__table__unit {
                width: 560px;
            }

        .content__body__form {
            margin-top: 37px;
        }

    .content__body:first-child {
        margin-top: 0;
    }

    .content__body__text:first-child {
        margin-top: 0;
    }