.content {
    font-size: 14px;
    line-height: 18px;
    color: #424850;
}
    .content__header {

    }

    .content__body {
        margin: 23px 0 0;
    }

    .content__body:first-child {
        margin-top: 0;
    }