.feature {
    position: relative;
    text-align: center;
    margin: 0 35px 0 0;
}

    .feature__item {
        display: inline-block;
        vertical-align: top;
        width: 140px;
    }

    .feature__item:first-child {
        position: absolute;
        top: 0;
        left: 0;
    }

    .feature__item:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }

        .feature__item__icon {

        }

        .feature__item__text {
            margin-top: 10px;
        }