.field {

}

    .field__input {
        outline: none;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        border-radius: 5px;
        font-size: 14px;
        color: #424850;
    }

    textarea.field__input {
        padding-top: 11px;
        padding-bottom: 6px;
        height: 70px;
        resize: vertical;
    }

    .field__input::-webkit-input-placeholder { color: #424850; }
    .field__input::-moz-placeholder { color: #424850; }
    .field__input:-ms-input-placeholder { color: #424850; }

    .field__input:hover::-webkit-input-placeholder { color: #7e7e7e; }
    .field__input:hover::-moz-placeholder { color: #7e7e7e; }
    .field__input:hover:-ms-input-placeholder { color: #7e7e7e; }

    .field__input:focus::-webkit-input-placeholder { color: #7e7e7e; }
    .field__input:focus::-moz-placeholder { color: #7e7e7e; }
    .field__input:focus:-ms-input-placeholder { color: #7e7e7e; }

