.header {
    height: 442px;
    position: relative;
}
    .header__left {
        position: absolute;
        top: 30px;
        left: 0;
    }
        .header__left__billboard {

        }

        .header__left__icons {
            position: absolute;
            top: 290px;
            left: 0;
            width: 543px;
            min-height: 101px;
        }

            .header__left__icons__left {
                position: absolute;
                top: 0;
                left: 0;
                width: 243px;
                text-align: center;
            }
                .header__left__icons__left__inner {
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                }

            .header__left__icons__right {
                position: absolute;
                top: 0;
                right: 0;
                width: 246px;
                text-align: center;
            }
                .header__left__icons__right__inner {
                    display: inline-block;
                    vertical-align: top;
                    text-align: left
                }

    .header__right {
        position: absolute;
        top: 35px;
        right: 0;
        width: 337px;
    }

        .header__right__form {

        }