.icon {
    display: inline-block;
    vertical-align: top;
}

.icon_medal {
    width: 112px;
    height: 112px;
    background: url(../images/icon_medal.png);
}

.icon_clock {
    width: 112px;
    height: 112px;
    background: url(../images/icon_clock.png);
}

.icon_woman {
    width: 112px;
    height: 112px;
    background: url(../images/icon_woman.png);
}

.icon_arrow {
    width: 16px;
    height: 17px;
    background: url(../images/icon_arrow.png);
}