.icon-link {
    font-size: 14px;
    line-height: 17px;
    color: #0033ab;
    text-decoration: underline;
    text-align: center;
}

    .icon-link__image {
        position: relative;
        left: -1px;
    }

        .icon-link__image__file {
            width: 45px;
            height: 45px;
        }

    .icon-link__text {
        background: #d8e1e8;
        padding: 4px 5px 6px;
        display: block;
        margin-top: 12px;
    }

    .icon-link__text_sparsed {
        padding: 12px 10px 15px 8px;
    }