.logo {
    display: block;
    white-space: nowrap;
}

    .logo__icon {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 99px;
        height: 69px;
        background: url(../images/logo.png);
    }

    .logo__text {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        margin-top: 5px;
    }

        .logo__text__title {
            font-family: Sunline;
            font-weight: bold;
            font-size: 36px;
            line-height: 38px;
            color: #f1f8fd;
        }

        .logo__text__description {
            font-size: 14px;
            line-height: 16px;
            margin-top: 2px;
            color: #f1f8fd;
        }
