.menu {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #597490;
    background: #c5d5e6;
    border-radius: 7px;
    border: 1px solid #b7c6d5;
    padding: 9px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    box-shadow: inset 0 1px 1px 0 rgba(140, 157, 165, 1),  0 1px 0 0 rgba(255, 255, 255, 0.5);
}

    .menu__item {
        margin-top: 8px;
        background: #dae4ee;
        background: -webkit-linear-gradient(#eff5fb, #bdccda);
        background:         linear-gradient(#eff5fb, #bdccda);
        border: 1px solid #a5b6c7;
        border-radius: 5px;
        padding: 12px 20px 10px 12px;
        position: relative;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), 0px 1px 1px 0px rgba(165, 183, 203, 0.75);;
    }

        .menu__item__link {

        }

            .menu__item__link__title {

            }

            .menu__item__link__arrow {
                position: absolute;
                top: 11px;
                right: 8px;
            }

    .menu__item_current {
        background: #869aae;
        background: -webkit-linear-gradient(#97aabc, #7d93a8);
        background:         linear-gradient(#97aabc, #7d93a8);
        color: #fff;
        text-shadow: 0 1px 0 rgba(49, 69, 91, .75);
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .35);
        border: 1px solid #6e8195;
    }

    .menu__item:first-child {
        margin-top: 0;
    }