.page {

}
    .page__header {
        background: url(../images/header_background.jpg) no-repeat center center;
    }

    .page__nav {
        background: #1a3e59;
        background: -webkit-linear-gradient(#1d4c68, #19334d);
        background:         linear-gradient(#1d4c68, #19334d);
    }

    .page__body {
        margin: 36px 0 0;
    }

    .page__footer {
        margin: 20px 0 0;
    }