.page {

}
    .page__header {
        background: url(../images/header_background.jpg) no-repeat center center;
    }

    .page__nav {
        margin: 20px 0 0;
    }

    .page__body {
        margin: 20px 0 0;
    }

    .page__footer {
        margin: 20px 0 0;
    }