.product {
    padding: 5px 0 0;
}

    .product__gallery {

    }

    .product__description {
        margin-top: 35px;
    }

    .product__video {
        margin: 44px 0 0;
    }

    .product__stats {
        margin: 29px 0 0;
    }

        .product__stats__title {

        }

        .product__stats__unit {
            margin: 18px 0 0;
        }

    .product__order {
        margin: 36px 0 0;
    }

        .product__order__title {

        }

        .product__order__unit {
            margin: 21px 0 0;
        }