.table {

}

    .table__head {
        color: #aaaeb5;
        text-align: center;
    }
        .table__head__row {

        }
            .table__head__row__cell {
                padding: 0px 17px 8px;
                text-align: center;
            }
            .table__head__row__cell:first-child {
                text-align: left;
            }


    .table__body {
        background: #f4f8ff;
        vertical-align: middle;
    }
        .table__body__row {

        }
            .table__body__row__cell {
                padding: 15px 17px 14px;
            }

            .table__body__row__cell:nth-child(n+2) {
                width: 1px;
                white-space: nowrap;
            }

            .table__body__row__cell_bold {
                font-family: Sunline;
                font-weight: bold;
                font-size: 18px;
                line-height: 18px;
            }

        .table__body__row:nth-child(odd) {
            background: #fff;
        }